.ann-page{
  display: flex;
}
.ann{
  background-color: var(--yellow-clr-light);
  padding-bottom: var(--sp-l);
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}
.ann-desc{
  font-size: var(--small-fs);
  padding: var(--sp-m);
}
.ann-dead{
  border: 1px solid var(--title-clr);
  width: auto;
  padding: var(--sp-s);
}
@media only screen and (max-width: 600px){
  .ann-page{
    flex-wrap: wrap;
    flex-direction: column-reverse
  }
}