
.event-page{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.event{
  background-color: var(--container-clr);
}
.event-desc,
.event-date{
  padding: var(--sp-m);
  font-size: var(--small-fs);
}