.events{
  width: 100%;
}
.events-wrapper{
  background-color: var(--container-clr);
  padding: var(--sp-m);
  display: flex;
  gap: var(--sp-l);
  flex-wrap: wrap;
  max-height: 450px;
  overflow-y: scroll;
  box-shadow: var(--bx-sdw-8);
  border-radius: var(--bdr-re-l);
}
.event-card{
  background-color: var(--body-clr);
  padding: var(--sp-m);
  border-radius: var(--bdr-re-m);
  max-width: 400px;
  width: 100%;
  font-size: var(--smaller-fs);
  display: grid;
  gap: var(--sp-s);
  cursor: pointer;
  color: var(--title-clr);
}
.dep-date{
  letter-spacing: 1px;
}