.footer{
  background-color: var(--red-clr-dark);
  color: var(--body-clr);
  width: 100%;
}
.footer-links{
  padding: var(--sp-xl);
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-l);
  justify-content: flex-start;
}
.page-links,
.social-links{
  width: 150px;
}
.page-links h3,
.social-links h3{
  margin-bottom: var(--sp-l);
}
.footer-link{
  display: flex;
  align-items: center;
  height: 30px;
  color: var(--body-clr);
  transition: var(--delay);
  font-size: var(--smaller-fs);
}
.footer-link:hover{
  text-decoration: underline;
}
.credits{
  background-color: var(--body-clr);
  color: var(--title-clr);
  padding: var(--sp-s);
  font-size: var(--smaller-fs);
  display: grid;
  gap: var(--sp-s);
}