.gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-l);
  padding: var(--sp-m);
}
.gal-card{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--title-clr);
}
.img-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--sp-s);
  border-radius: var(--bdr-re-l);
  overflow: hidden;
}
.img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--delay);
}
.img-wrapper:hover img{
  scale: 1.2;
}
.gal-desc{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}