/* ? google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Open+Sans:wght@400;500&display=swap');

:root {

  /* font */
  --body-font: 'Open Sans', sans-serif;
  --title-font:  'Lunasima', sans-serif;

  /* font size */
  --biggest-fs: 3rem;
  --h1-fs: 2.5rem;
  --h2-fs: 1.5rem;
  --h3-fs: 1.25rem;
  --normal-fs: 1rem;
  --small-fs: .875rem;
  --smaller-fs: .813rem;
  --tiny-fs: .688rem;

  /* Red */
  --red-clr: #BE3144;
  --red-clr-dark: #901b2a;
  --red-clr-light: #d04a5c;
  /* Orange */
  --orange-clr: #FF6C22;
  --orange-clr-dark: #d04f1e;
  --orange-clr-light: #ff8f50;
  /* Blue */
  --blue-clr: #001B79;
  --blue-clr-dark: #000f45;
  --blue-clr-light: #2c3ca8;
  /* Yellow */
  --yellow-clr: #FFC436;
  --yellow-clr-dark: #cc9b2b;
  --yellow-clr-light: #ffd25a;
  /* title */
  --title-clr: #27292a;
  /* body */
  --body-clr: #ffffff;
  /* container */
  --container-clr: #f2f2f3;

  /* font weigth */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;

  /* spacing */
  --sp-xl: 32px;
  --sp-l: 16px;
  --sp-m: 12px;
  --sp-s: 8px;

  /* border radius */
  --bdr-re-l: 12px; 
  --bdr-re-m: 8px;
  --bdr-re-s: 6px;

  /* navbar */
  --nav-height: 35px;

  /* box shadow */
  --bx-sdw-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --bx-sdw-5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bx-sdw-8: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  /* transition */
  --delay: all .3s;

}


#root{
  overflow: hidden;
  min-height: 100dvh;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: .5px;
  /* outline: auto; */
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: var(--body-font);
  font-size: var(--normal-fs);
}
h1,h2,h3,h4{
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
  text-decoration: underline;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
img{
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar{
  display: none;
}

/* base style */
.main{
  min-height: 75vh;
}
.home-page,
.about-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container{
  max-width: 1366px;
  margin-top: 65px;
  padding: var(--sp-s);
}
.section-title{
  padding: var(--sp-l) 0;
}


@media only screen and (max-width: 600px) {
  :root{
    --biggest-fs: 1.5rem;
    --h1-fs: 1.5rem;
    --h2-fs: 1.25rem;
    --h3-fs: 1rem;
    --normal-fs: .938rem;
    --small-fs: .813rem;
    --smaller-fs: .75rem;
    --tiny-fs: .625rem;

    --sp-xl: 24px;
    --sp-l: 12px;
    --sp-m: 8px;
    --sp-s: 4px;

    --nav-height: 65px;
  }

  .main{
    padding-top: calc(var(--nav-height)*2);
  }
}