.nav{
  background-color: var(--body-clr);
  width: 100%;
}

/* state */
.nav-state{
  background-color: var(--red-clr-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--sp-m);
  color: var(--body-clr);
  font-size: var(--small-fs);
}
.nav-state a{
  color: var(--body-clr);
}
.search-box{
  display: flex;
  background-color: var(--body-clr);
  justify-content: flex-start;
  align-items: center;
  padding: 0 var(--sp-s) 0 0;
  max-width: 350px;
  width: 100%;
}
.search-box input{
  border: none;
  padding: var(--sp-s);
  width: 100%;
}
.search-icon{
  color: var(--title-clr);
  cursor: pointer;
}

/* nav bar */
.nav-bar{
  position: relative;
  background-color: var(--body-clr);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: var(--nav-height);
  padding: 0 var(--sp-m) 0 0;
}
.logo{
  height: 100px;
  width: auto;
  margin-left: var(--sp-s);
  z-index: var(--z-tooltip);
}
.logo img{
  height: 100%;
  width: auto;
}
.menu-toggle{
  display: none;
}
.nav-links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--body-clr);
}
.nav-links .active{
  background-color: var(--red-clr-dark);
  color: var(--body-clr);
}
.nav-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
  width: 100px;
  color: var(--title-clr);
  transition: var(--delay);
}
.nav-link:hover{
  background-color: var(--red-clr-dark);
  color: var(--body-clr);
}

/* mobile */
@media only screen and (max-width: 600px) {

  .nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
  }
  
  .nav-state{
    flex-direction: column;
    justify-content: center;
  }

  .nav-bar{
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    height: var(--nav-height);
  }
  .menu-toggle{
    display: flex;
    outline: auto;
    font-size: var(--biggest-fs);
  }
  .nav-links-wrapper{
    background-color: var(--body-clr);
    position: absolute;
    top: 100%;
    right: -100%;
    z-index: var(--z-tooltip);
    width: 100dvw;
    height: calc(100dvh - (var(--nav-height)*2));
    transition: var(--delay);
  }
  .nav-links{
    flex-direction: column;
    background-color: var(--red-clr-dark);
    height: 100%;
  }
  .nav-links .active{
    background-color: var(--red-clr);
  }
  .nav-link{
    color: var(--body-clr);
    width: 100%;
  }
  .show-nav-bar{
    right: 0;
  }
}