@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {

  /* font */
  --font-roboto: 'Roboto', sans-serif;

  /* Red */
  --pm-clr: #BE3144;
  --pm-clr-dark: #901b2a;
  --pm-clr-light: #d04a5c;
  /* Orange */
  --snd-clr: #FF6C22;
  --snd-clr-dark: #d04f1e;
  --snd-clr-light: #ff8f50;
  /* Blue */
  --tty-clr: #001B79;
  --tty-clr-dark: #000f45;
  --tty-clr-light: #2c3ca8;
  /* Yellow */
  --accent-clr: #FFC436;
  --accent-clr-dark: #cc9b2b;
  --accent-clr-light: #ffd25a;
  /* white */
  --bg-clr: #EEEEEE ;
  /* black */
  --blk-clr: #0F0F0F;
  /* white */
  --wht-clr: #FFFFFF;

  /* spacing */
  --sp-xxl: 32px;
  --sp-xl: 16px;
  --sp-l: 12px;
  --sp-m: 8px;
  --sp-s: 4px;

  /* border radius */
  --bdr-re-l: 12px; 
  --bdr-re-m: 8px;
  --bdr-re-s: 6px;

  /* navbar */
  --nav-bar-height: 45px;
  --nav-state-height: 25px;

  /* box shadow */
  --bx-sdw-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --bx-sdw-8: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-roboto);
  /* outline: auto; */
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.page{
  overflow: hidden;
  min-height: 100dvh;
}